a {
  color: #003EF4;
  text-decoration: none;
}
a:visited {
  color: #096AB3;
  text-decoration: none;
}
a:hover {
  color: #003EF4;
  text-decoration: underline;
}


#footer a {
  color: #FFFFee; font-size: 8pt; font-family: tahoma;
}



